


/** Site styles **/
html, body {
	width: 100%;
	height: 100%;
}

footer {
	text-align: center;
	font-size: 0.8em;
	font-family: Open Sans, sans-serif;
	margin-top: 4em;
}



/** Font icon related **/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?hpznqp');
	src:url('fonts/icomoon.eot?hpznqp#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?hpznqp') format('truetype'),
		url('fonts/icomoon.woff?hpznqp') format('woff'),
		url('fonts/icomoon.svg?hpznqp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
	content: "\e900";
}
.icon-search:before {
	content: "\e901";
}
.icon-windows-logo:before {
	content: "\e902";
}



/** General lumia styles **/
.-shadowed {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70);
}

.-bordered {
	border: 1px solid #ccc;
}

.-unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}



/** Lumia main styles **/
.lumia {
	height: 90%;
	background-color: #eee;
	border-radius: 2.5%;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.lumia--centered {
	margin: 0 auto;
	top: 20px;
}

.lumia__black__body {
	background-color: #2d2d2d;
	width: 96%;
	height: 98%;
	border-radius: 7%/3.5%;
	position: absolute;
	top: 1%;
	left: 2%;
	margin: 0;
	padding: 0;
}


/** Side buttons **/
.lumia__button {
	width: 1%;
	background-color: #eee;
	position: absolute;
}

.lumia__button--volume {
	left: 100%;
	top: 20%;
	height: 12%;
}

.lumia__button--power {
	left: 100%;
	top: 44%;
	height: 6%;
}

.lumia__button--camera {
	left: 100%;
	top: 76%;
	height: 6%;
}


/** Top body components **/
.lumia__top__speaker {
	width: 30%;
	height: 1%;
	position: absolute;
	left: 35%;
	top: 3.5%;
	background-color: #424242;
	border-radius: 2px;
}

.lumia__top__camera {
	position: absolute;
	left: 71%;
	top: 3%;
	width: 4%;
	height: 2%;
	border-radius: 50%;
	background-color: #656565;
}

.lumia__top__camera__lens {
	background-color: #2d2d2d;
	border-radius: 50%;
	width: 30%;
	height: 30%;
	position: absolute;
	top: 35%;
	left: 35%;
}

.lumia__nokia__logo {
	width: 16%;
	height: auto;
	position: absolute;
	right: 4%;
	top: 3.5%;
}


/** Bottom body components **/
.lumia__nav__icon {
	color: #fff;
	font-size: 1em;
	display: inline-block;
	position: absolute;
	bottom: 4%;
}

.lumia__nav__icon--flipped {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

.lumia__nav__icon--back {
	left: 14%;
}

.lumia__nav__icon--logo {
	left: 47%;
}

.lumia__nav__icon--search {
	left: 80%;
}


/** Main screen **/
.lumia__main__screen {
	background-color: #ccc;
	position: absolute;
	top: 8%;
	left: 3.5%;
	width: 93%;
	height: 82%;
	overflow: hidden;
}


/** Start screen **/
.lumia__startscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/startscreen.jpg');
	background-size: cover;
	cursor: pointer;
}


/** Screensaver **/
.lumia__screensaver {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../img/screensaver.jpg');
	background-size: cover;
	cursor: pointer;
}

.lumia__screensaver__wrapper {
	position: absolute;
}

.lumia__screensaver__info {
	color: #FFF;
	padding: 0px;
	margin: 1% 0px;
	text-align: left;
	line-height: 110%;
}

.lumia__screensaver__info--time {	
	font-size: 4em;
}

.lumia__screensaver__info--day, .lumia__screensaver__info--date {
	font-size: 1.2em;
}